<%- include("../includes/head", {title: "Manage Nutrition Plans"}) %>
<link rel="stylesheet" href="/styles/manage-plans.css">
</head>
<body>
  <%- include("../includes/header") %>
  <main>
    <h2 class="page-heading">Manage Nutrition</h2>
    <section id="plans-grid">
      <!--Loop Over Nutrition Plans-->
      <div class="plan-container">
        <h3>Nutrition Title</h3>
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            recusandae velit deserunt quasi magni dolores.
          </li>
          <li>cupiditate nam delectus dolore accusamus, sequi quae aliquid. Quis
            repudiandae quod explicabo. Blanditiis tempore explicabo
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            recusandae velit deserunt quasi magni dolores.
          </li>
        </ul>
        <div class="form-control-btns">
          <button class="btn-main btn-alt">Edit</button>
          <button class="btn-main remove-btn">Delete</button>
        </div>
      </div>
      <div class="plan-container">
        <h3>Nutrition Title</h3>
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            recusandae velit deserunt quasi magni dolores.
          </li>
          <li>cupiditate nam delectus dolore accusamus, sequi quae aliquid. Quis
            repudiandae quod explicabo. Blanditiis tempore explicabo
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            recusandae velit deserunt quasi magni dolores.
          </li>
        </ul>
        <div class="form-control-btns">
          <button class="btn-main btn-alt">Edit</button>
          <button class="btn-main remove-btn">Delete</button>
        </div>
      </div>
      <div class="plan-container">
        <h3>Nutrition Title</h3>
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            recusandae velit deserunt quasi magni dolores.
          </li>
          <li>cupiditate nam delectus dolore accusamus, sequi quae aliquid. Quis
            repudiandae quod explicabo. Blanditiis tempore explicabo
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
            recusandae velit deserunt quasi magni dolores.
          </li>
        </ul>
        <div class="form-control-btns">
          <button class="btn-main btn-alt">Edit</button>
          <button class="btn-main remove-btn">Delete</button>
        </div>
      </div>
      
      <!--End Loop-->

      <div id="add-plan" class="plan-container">
        <form>
          <input type="text" name="nutrition-title" placeholder="Plan Name..." required>
          <div class="form-control-btns">
            <button class="btn-main">Add Nutrition Plan</button>
          </div>
        </form>
      </div>
      

    </section>
  </main>
  <%- include("../includes/footer") %>
</body>
</html>
