<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
>
  <span></span>
  <span></span>
  <span></span>
</button>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title page-logo" id="offcanvasRightLabel">
      Gym Coach
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <nav>
      <% if (!locals.isAuthenticated) { %>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      <% } %>
      <% if (locals.isAuthenticated && !locals.isAdmin) { %>
        <a href="/program">My Program</a>
      <% } %>
      <% if (locals.isAdmin) { %>
        <a href="/admin/users">Manage Users</a>
        <a href="/admin/logs">Manage Workout Logs</a>
        <a href="/admin/nutrition">Manage Nutrition Plans</a>
      <% } %>
      <% if (locals.isAuthenticated) { %>
        <a href="/logout">Logout</a>
      <% } %>
    </nav>
  </div>
</div>
