<footer>
  <div class="contacts-container">
    <p>Follow us @gym_coach</p>
    <a href="https://instagram.com" target="_blank"
      ><img src="/images/instagram-icon.png" alt="Instagram Icon"
    /></a>
    <a href="https://facebook.com" target="_blank"
      ><img src="/images/facebook-icon.png" alt="Facebook Icon"
    /></a>
    <a href="https://tiktok.com" target="_blank"
      ><img src="/images/tiktok-icon.png" alt="Tik Tok Icon"
    /></a>
  </div>
  <div class="contacts-container">
    <p>Contact us via E-mail</p>
    <a href="mailto:admin@email.com" target="_blank"
      ><img src="/images/email-icon.png" alt="E-mail Icon"
    /></a>
  </div>
</footer>
