<header>
  <a href="/" class="page-logo">Gym Coach</a>
  <nav>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="">Link 3</a>
  </nav>
  <%- include("drawer-button") %>
</header>