<header>
  <a href="/" class="page-logo">Gym Coach</a>
  <nav>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="">Contact Us</a>
    <a href="/expired">[DEMO] Expired</a>
    <a href="/program">[DEMO] My Program</a>
  </nav>
  <%- include("drawer-button") %>
</header>