<header>
  <a href="/" class="page-logo">Gym Coach</a>
  <nav>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="/expired">[DEMO] Expired</a>
    <a href="/program">[DEMO] My Program</a>
    <a href="/admin/users">[ADMIN] Manage Users</a>
    <a href="/admin/logs">[ADMIN] Manage Workout Logs</a>
    <a href="/admin/nutrition">[ADMIN] Manage Nutrition Plans</a>
  </nav>
  <%- include("drawer-button") %>
</header>