<div
  class="accordion"
  id="accordionPanelsStayOpenExample"
  v-if="user.logs?.length > 0"
>
  <div class="accordion-item" v-for="(log, index) in user.logs">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        v-bind:data-bs-target="'#panelsStayOpen-collapse' + index"
        aria-expanded="true"
        v-bind:aria-controls="'panelsStayOpen-collapse' + index"
      >
        {{ log.name }}
      </button>
    </h2>
    <div
      v-bind:id="'panelsStayOpen-collapse' + index"
      class="accordion-collapse collapse"
    >
      <div class="accordion-body">
        <ul>
          <li v-for="exercise in log.exercises">
            {{ exercise.name }}: {{ exercise.sets }} sets of
            {{ exercise.reps }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p v-else>
  Your weekly workout routine is not set. Contact a coach via e-mail to get you
  started.
</p>
