<%- include("includes/head", {title: "Not Authorized!"}) %>
<link rel="stylesheet" href="/styles/error.css">
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <section>
      <h2 class="page-heading">Not Authorized</h2>
      <div>
        <p>You are not authorized to access this page.</p>
        <a href="/" class="btn-main">Back to Home</a>
      </div>
    </section>
  </main>
  <%- include("includes/footer") %>
</body>
</html>
