<%- include("includes/head", {title: "Membership Required"}) %>
<link rel="stylesheet" href="/styles/height-calc.css" />
<link rel="stylesheet" href="/styles/expired.css" />
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <section>
      <h2>Membership Required</h2>
      <div>
        <p>
          A membership is required to gain access to our programs. You either did
          not buy a membership before logging in, or your membership has expired.
          Please get a membership to proceed.
        </p>
        <a href="" class="btn-main">Get a Membership</a>
      </div>
      <div>
        <p>
          If you have a membership but still can't login, contact us via e-mail to
          fix this issue.
        </p>
        <a href="" class="btn-main btn-alt">Contact Us</a>
      </div>
    </section>
  </main>
  <%- include("includes/footer") %>
</body>
</html>
