  <%- include("includes/head", {title: "Welcome to Gym Coach"}) %>
  <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <%- include("includes/header") %>
    <main>
      <section id="welcome">
        <article class="sign">
          <h2>Welcome to Gym Coach</h2>
          <p>
            Looking to achieve your fitness goals? We can help! Our team
            consists of certified personal trainers with over 10 years of
            experience, we have a proven track record of helping clients of all
            ages and fitness levels reach their goals. Whether you're looking to
            lose weight, build muscle, or improve your overall fitness, we can
            create a personalized training plan that's right for you.
          </p>
        </article>
      </section>
      <section id="offers">
        <h2>What We Offer</h2>
        <div id="offers-cards">
          <article class="sign">
            We offer a variety of training services, including:
            <ul>
              <li>One-on-one training</li>
              <li>Group training</li>
              <li>Online training</li>
              <li>Nutrition counseling</li>
            </ul>
          </article>
          <article class="sign">
            We also specialize in a variety of fitness disciplines, including:
            <ul>
              <li>Weightlifting Strength training</li>
              <li>Cardio training</li>
              <li>High-intensity interval training (HIIT)</li>
              <li>Pilates Yoga</li>
            </ul>
          </article>
        </div>
      </section>
      <section id="message">
        <h2>Our Training Philosophy</h2>
        <div id="message-cards">
          <article class="sign">
            <p>
              We believe that everyone has the potential to achieve their
              fitness goals. We are here to help you reach your full potential
              by creating a personalized training plan that is tailored to your
              individual needs and goals.
            </p>
          </article>
          <article class="sign">
            <p>
              We understand that fitness can be challenging, but it's important
              to remember that you're not alone. We are here to support you
              every step of the way. We will provide you with the knowledge,
              motivation, and accountability you need to stay on track and
              achieve your goals.
            </p>
          </article>
          <article class="sign">
            <p>
              No matter what your fitness goals are, we can help you achieve
              them. We are committed to providing our clients with the
              knowledge, motivation, and support they need to succeed.
            </p>
          </article>
          <article class="sign">
            <p>
              If you're ready to take your fitness to the next level, We
              encourage you to get your membership today. We will
              help you assess your current fitness level, discuss your goals,
              and develop a personalized training plan that's right for you.
            </p>
            <form action="/membership" method="post">
              <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>">
              <button class="btn-main">Get a Membership</button>
            </form>
          </article>
        </div>
      </section>
    </main>
    <%- include("includes/footer") %>
  </body>
</html>
