html {
  --gray-light: rgb(210, 210, 210);
  --gray-medium: rgb(128, 128, 128);
  --gray-dark: rgb(56, 56, 56);
  --gray-gradient-bottom: linear-gradient(to bottom, white, grey);
  --gray-gradient-top: linear-gradient(to top, white, grey);
  --primary-color-dark: rgb(21, 44, 21);
  --primary-color-medium: rgb(46, 99, 46);
  --primary-color-light: rgb(32, 126, 32);
  --secondary-color: rgb(255, 255, 255);
  --red-dark: rgb(177, 0, 0);
  --red-light: rgb(208, 0, 0);
  --box-shadow-basic: 1px 2px 4px rgba(0, 0, 0, 0.2);
  --text-shadow-basic: 2px 2px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: var(--gray-gradient-bottom);
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-medium);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-dark);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-dark);
}

main {
  padding-top: 5rem;
  min-height: calc(100vh - 4.5rem);
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color-medium);
  margin: 0;
}

.page-heading {
  color: var(--primary-color-medium);
  margin: 2rem 0;
}

header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color-medium);
  z-index: 10;
}

a {
  text-decoration: none;
}

.page-logo {
  color: var(--secondary-color);
  text-transform: uppercase;
  text-shadow: var(--text-shadow-basic);
  font-size: 2rem;
}

header nav a,
header nav button {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

header nav a:hover,
header nav a:active,
header nav button:hover,
header nav button:active {
  color: var(--gray-light);
}

header nav form {
  display: inline;
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
}

header nav button {
  background-color: transparent;
  border: none;
}

.navbar-toggler {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}

.navbar-toggler span {
  background-color: white;
  height: 0.25rem;
  width: 100%;
}

.offcanvas {
  background-image: var(--gray-gradient-bottom);
  max-width: 80%;
}

.offcanvas .page-logo {
  color: var(--primary-color-medium);
  text-shadow: none;
}

.offcanvas nav {
  display: flex;
  flex-direction: column;
}

.offcanvas nav a,
.offcanvas nav button {
  color: var(--secondary-color);
  background-color: var(--primary-color-medium);
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 1rem;
}

.offcanvas nav a:active,
.offcanvas nav button:active {
  color: var(--secondary-color);
  background-color: var(--primary-color-light);
}

.offcanvas nav button {
  width: 100%;
  text-align: left;
}

.btn-main {
  background-color: var(--primary-color-medium);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.15s;
}

.btn-main:hover,
.btn-main:active {
  background-color: var(--primary-color-light);
}

.btn-alt {
  background-color: var(--secondary-color);
  color: var(--primary-color-medium);
  outline: 2px solid var(--primary-color-medium);
  outline-offset: -2px;
}

.btn-alt:hover,
.btn-alt:active {
  background-color: var(--gray-light);
}

.btn-alt:focus:not(:focus-visible) {
  outline: 2px solid var(--primary-color-medium);
  outline-offset: -2px;
}

.remove-btn {
  background-color: var(--red-dark);
}

.remove-btn:hover,
.remove-btn.active {
  background-color: var(--red-light);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color-dark);
}

.contacts-container {
  text-align: center;
  margin: 0 2rem;
}

footer p {
  margin: 0;
}

footer img {
  height: 3rem;
}

.invisible {
  display: none;
}

@media (max-width: 62rem) {
  header {
    padding: 1rem;
  }

  .navbar-toggler {
    display: flex;
  }

  header nav {
    display: none;
  }

  main {
    min-height: calc(100vh - 4rem);
  }

  footer img {
    height: 2.5rem;
  }
}