section {
  width: 90%;
  max-width: 45rem;
  margin: auto;
}

div {
  margin-bottom: 4rem;
  text-align: center;
}

main p {
  font-size: 1.5rem;
}

main a {
  display: block;
  width: fit-content;
  margin: auto;
}
