#error-msg {
  width: fit-content;
  max-width: 30rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: auto;
  padding: 0.5rem;
  background-color: var(--red-dark);
  border-radius: 6px;
}

form {
  width: 90%;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
  border-radius: 6px;
  border: 2px solid var(--primary-color-medium);
  background-color: transparent;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--primary-color-medium);
  border-radius: 4px;
  resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--primary-color-medium);
}

#image-upload-control {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#image-upload-control input {
  resize: none;
  border: none;
  max-width: 11rem;
}  

#image-upload-control input:hover {
  cursor: pointer;
  outline: 2px solid var(--primary-color-medium);
}  

#image-upload-control input:focus {
  outline: none;
}  

#image-upload-control input::file-selector-button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid black;
}

#image-upload-control img {
  display: none;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  border: 2px solid var(--primary-color-medium);
}

#image-upload-control #user-image {
  display: block;
}

#form-control-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0 0 0;
}