h2 {
  color: var(--primary-color-medium);
  margin: 2rem 0;
}

form {
  width: 90%;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
  border-radius: 6px;
  border: 2px solid var(--primary-color-medium);
  background-color: transparent;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--primary-color-medium);
  border-radius: 4px;
}

input:focus {
  outline: 2px solid var(--primary-color-medium);
}

#form-control-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0 0 0;
}