main a {
  display: block;
  width: fit-content;
  margin: auto;
}

main p {
  text-align: center;
  font-size: 1.5rem;
}

#plans-grid {
  list-style: none;
  width: 90%;
  margin: 2rem auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.plan-container {
  width: 20rem;
  border-radius: 6px;
  box-shadow: var(--box-shadow-basic);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 1rem;
}

.plan-container h3 {
  text-align: center;
  font-weight: bold;
}

.plan-container li {
  font-size: 1.25rem;
}

.form-control-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0 0 0;
}

input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--primary-color-medium);
  border-radius: 4px;
}

input:focus {
  outline: 2px solid var(--primary-color-medium);
}

.edit-workout-name {
  border: 2px solid var(--primary-color-medium);
  padding: 1rem;
  border-radius: 6px;
}

.edit-workout-name .form-control-btns {
  justify-content: flex-end;
}