#plans {
  width: 90%;
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#plans p {
  text-align: center;
  font-size: 1.25rem;
}

.plan-container:nth-of-type(1) {
  grid-column: 1 / span 2;
}

.plan-container:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.accordion {
  box-shadow: var(--box-shadow-basic);
  border-radius: 6px;
  font-size: 1.5rem;
}

.accordion-button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--secondary-color);
  background-color: var(--primary-color-medium);
}

#diet-details {
  border-radius: 6px;
  box-shadow: var(--box-shadow-basic);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

#diet-details h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 48rem) {
  #plans {
    grid-template-columns: 1fr;
  }
}