form {
  text-align: center;
}

input {
  margin-top: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.workout-details,
.meals-list {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.workout-details input {
  width: 4rem;
  margin: 0;
}

.workout-details select {
  width: auto;
}

.remove-btn {
  padding: 0.25rem;
}

#add-fields-btn {
  margin-top: 1rem;
}
